<div th:replace="@{${header}} :: ${header}">
</div>
<br><br><br>
 <div class="container">
<h1>Connections and Transactions</h1>
<br>

	<!-- success message -->
    <div th:if="${param.success}">
     <div class="alert alert-success">Connection successfully added</div>
    </div><br>
    
    <!-- success message -->
    <div th:if="${param.transactionSuccess}">
     <div class="alert alert-success">Transaction successfully made</div>
    </div><br>
    
    <!-- error message -->
    <div th:if="${param.SameEmailError}">
     <div class="alert alert-danger">You can't add yourself as a connection !</div>
    </div><br>

    <!-- error message -->
    <div th:if="${param.UserAlreadyHere}">
     <div class="alert alert-danger">This user's email is already added to your connections</div>
    </div><br>
    
    <!-- error message -->
    <div th:if="${param.UserNotFound}">
     <div class="alert alert-danger">This user's email was not found, check for spellings errors</div>
    </div><br>
    
    <!-- error message -->
    <div th:if="${param.UnknownError}">
     <div class="alert alert-danger">An unknown error has occurred, please contact the administrators.</div>
    </div><br>
    
Add a Connection
<br>
<form style="width:30%" th:action="@{/connection}" method="post">
<div class="form-group">
      <label class="control-label" for="email">Other User's email:</label>
      <input name="email" class="form-control" th:value="*{email}" required autofocus="autofocus" />
     </div>
     <div class="form-group">
      <button type="submit" class="btn btn-success">Add</button><br>
     </div>
</form>

Your Connections
<br>
<div th:if="${connection.empty}">You have no saved connections, you can add one by entering the email of a user.</div>
<div th:if="${!connection.empty}">
<table style="width:30%" class="table table-striped table-dark">
<thead><tr><th>Email</th></tr></thead>
<tbody><tr  th:each="connections : ${connection}" ><td th:text="${connections.getEmail()}">Email</td></tr></tbody>
</table>
</div>

 <br>
Make a new Transaction
<br>

<form style="width:30%" th:action="@{/transaction}" method="post">
<div class="form-group">
<label class="control-label" for="connection">Connection:</label>
<select style="width:30%" class="form-control" id="email" name="email" >
    <option value="0">Select a connection</option>
    <option th:each="connections : ${connection}" th:value="${connections.getEmail()}" th:text="${connections.getEmail()}"></option>
</select>
<br>
<label class="control-label" for="amount">Amount:</label>
<input name="amount" class="form-control" th:value="*{amount}" required autofocus="autofocus" />
<br>
<label class="control-label" for="description">Description:</label>
<input name="description" class="form-control" th:value="*{description}" required autofocus="autofocus" />
</div>
<div class="form-group">
      <button type="submit" class="btn btn-success">Create</button><br>

</div>

</form>

<div th:if="${transaction.empty}">You made no transaction, you can make one now by selecting the email of a user.</div>
<div th:if="${!transaction.empty}">
<table style="width:30%" class="table table-striped table-dark">
<thead><tr><th>From</th><th>Sent to</th><th>Amount</th><th>Description</th></tr></thead>
<tbody><tr>
<td  th:each="transactions : ${transaction}" th:text="${transactions.getSenderEmail()}"></td>
<td  th:each="transactions : ${transaction}" th:text="${transactions.getReceiverEmail()}"></td>
<td  th:each="transactions : ${transaction}" th:text="${transactions.getAmount()}"></td>
<td  th:each="transactions : ${transaction}" th:text="${transactions.getDescription()}"></td>
</tr></tbody>
</table>
</div>
<br>



</div>
<div th:replace="@{${footer}} :: ${footer}">
</div>