
<div th:replace="@{${header}} :: ${header}">
</div>
<div style="width:100%;background-color:#f4f7fd;">
<img src="../static/img/logo.png" width="50%" style="display: block;margin-left: auto;margin-right: auto" th:src="@{img/logo.png}"/>
</div>

<br><br>

 <div class="container">
 
  <h1>Welcome to Pay My Buddy!</h1>
  <h2>Moving your money has never been easier</h2>
  <br><br>
    <div sec:authorize="!isAuthenticated()">
      Sign up here, and make
  </div>
  <div sec:authorize="isAuthenticated()">
      Welcome <div th:text="${#authentication.getPrincipal().getEmail()}"></div>
  </div>
      
 </div>

 <div th:replace="@{${footer}} :: ${footer}"></div>