<div th:replace="@{${header}} :: ${header}">
</div>
<br><br><br>
 <div class="container">
<h1>Transactions</h1>
<br>
    <!-- success message -->
    <div th:if="${param.transactionSuccess}">
     <div class="alert alert-success">Transaction successfully made</div>
    </div><br>

    <!-- error message -->
    <div th:if="${param.transactionError}">
     <div class="alert alert-danger">Please fill all the informations before making the transaction.</div>
    </div><br>
    
 <br>
Make a new Transaction
<br>

<form style="width:30%" th:action="@{/transaction}" method="post">
<div class="form-group">
<label class="control-label" for="connection">Connection:</label>
<select required style="width:30%" class="form-control" id="email" name="email" >
    <option value="0">Select a connection</option>
    <option th:each="connections : ${connection}" th:value="${connections.getEmail()}" th:text="${connections.getEmail()}"></option>
</select>
<br>
<label class="control-label" for="amount">Amount:</label>
<input name="amount" type='number' class="form-control" th:value="*{amount}" required autofocus="autofocus" />
<br>
<label class="control-label" for="description">Description:</label>
<input name="description" class="form-control" th:value="*{description}" required autofocus="autofocus" />
</div>
<div class="form-group">
      <button type="submit" class="btn btn-success">Create</button><br>

</div>

</form>

<div th:if="${transaction.empty}">You made no transaction, you can make one now by selecting the email of a user.</div>
<div th:if="${!transaction.empty}">
<table style="width:30%" class="table table-striped table-dark">
<thead><tr><th>From</th><th>Sent to</th><th>Amount</th><th>Description</th></tr></thead>
<tbody><tr>
<td  th:each="transactions : ${transaction}" th:text="${transactions.getSenderEmail()}"></td>
<td  th:each="transactions : ${transaction}" th:text="${transactions.getReceiverEmail()}"></td>
<td  th:each="transactions : ${transaction}" th:text="${transactions.getAmount()}"></td>
<td  th:each="transactions : ${transaction}" th:text="${transactions.getDescription()}"></td>
</tr></tbody>
</table>
</div>
<br>



</div>
<div th:replace="@{${footer}} :: ${footer}">
</div>